MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=fund_nav_estimator



A_STOCK_MYSQL_HOST=127.0.0.1
A_STOCK_MYSQL_PORT=3306
A_STOCK_MYSQL_USER=root
A_STOCK_MYSQL_PASSWORD=change_me
A_STOCK_MYSQL_DATABASE=a_stock_market_data
